ul{
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}
li, a{
    text-decoration: none;
    text-decoration-style: none;
    color: black;
}

.active{
    color: rgb(252, 159, 72);
}