.header{
    display: flex;
    column-gap: 50px;
}

.header a {
    text-decoration: none;
    color: black;
}
ul{
    list-style-type: none;
}

.list{
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    font-size: 24px;
    padding: 20px;
}

.active a{
    color: rgb(83, 79, 79);
    text-shadow: 0 0 10px rgb(192, 190, 190);
}
